*{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.bar p u{
    text-decoration: underline;
}

.bar{
    background-color: black;
    color: white;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;

}

.LOGOMDN{
    /* position: absolute; */
    /* margin: 20px; */
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    
}

section:nth-child(2) div:nth-child(1){
    display: inline-block;
}

.LOGOMDN .logo{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
}

.LOGOMDN .nav-link ul{
    /* display: flex; */
}

section:nth-child(2) div:nth-child(1) {
    display: inline-block;
}
section:nth-child(2) div:nth-child(1) div, .nav-link li{
    display: inline-block;
}


/* .LOGOMDN .nav-link ul li{
    margin: 0 15px;
    
} */

section .bar-gris{
    background-color: rgb(215, 215, 215);
    top: 250px;
    left: 0px;
    border: 1px solid gray ;
    display: flex;
    align-items: center;
    }
    
  
section .bar-gris a{
    color: #050505;
    top: 20px;
    display: inline;
}

